.containerForecast {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .day {
    width: 4rem;
    margin: 1rem;
    .imageDay {
      display: flex;
      justify-content: center;
    }

    .nameDay {
      text-align: center;
      color: var(--grey-primary);
      font-weight: 500;
    }
    .temperatureContainer {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      font-size: 0.8rem;
      color: grey;
      text-align: center;
    }
  }
}
.title {
  font-weight: 400;
  font-size: 1.5rem;
}
