.timer{
  margin-top: 8rem;
  .list{
    display: flex;
    gap:1rem;
    text-decoration: none;
    list-style: none;

    .item{
      display: flex;
      flex-direction: column;
      align-items: center;
      .numbers{
      font-size: 2rem;
      font-weight: 800;
    }}
  }
}