.containerList{
  position: absolute;
  width: 100%;
  top:0;
  margin-left: -1px ;
  background-color: var(--background-color-primary);
  border: 1px solid black;
  z-index: 300;
  max-height: 10rem;
  overflow-y: scroll;
  .item{
    padding: 0.5rem;
    &:nth-child(odd){
      background-color: grey;
    }
  }
}